body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to right, #0ea5e9, #6366f1);
}

.btn {
    background: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 40px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skill-box {
    background: #1e293b;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.project {
    background: #1e293b;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}

a {
    color: #38bdf8;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
}
